.team-info-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    &.reversed {
        flex-direction: row-reverse;
    }

    p{
        font-weight: var(--font-500);
        font-size: var(--font-s);
    }
}