<div class="container">
    <div class="dm-sidebar-conatiner">
        <dzikimundial-ws-admin-team-list-filters data-test-id="dm-teams-browser-filters">
        </dzikimundial-ws-admin-team-list-filters>
        <div class="dm-section-header-container">
            <p>Menu</p>
        </div>
        <ul class="menu-list">
            <li class="menu-item">
                <dzikimundial-ws-ui-nav-link data-test-id="nav-link-single" [text]="ROUTER_LINK.TEAM_CREATE"
                    [isSecondary]="true" [alignText]="'end'" [link]="ROUTER_LINK.TEAM_CREATE">
                </dzikimundial-ws-ui-nav-link>
            </li>
        </ul>
    </div>
    <div class="content-container">
        <div class="scroll-container">
            <dzikimundial-ws-admin-team-list data-test-id="dm-teams-browser-team-list">
            </dzikimundial-ws-admin-team-list>
        </div>
    </div>
</div>