<div class="container">
    <div class="sidebar-conatiner">
        <dzikimundial-ws-admin-team-list-filters></dzikimundial-ws-admin-team-list-filters>
        <ul class="menu-list">
            <li class="menu-item">
                <dzikimundial-ws-ui-nav-link data-test-id="nav-link-single" [text]="ROUTER_LINK.TEAM_CREATE"
                [isSecondary]="true" [alignText]="'end'" [link]="ROUTER_LINK.TEAM_CREATE">
                </dzikimundial-ws-ui-nav-link>
            </li>
        </ul>
    </div>
    <div class="content-container">
        <div class="scroll-container">
            <dzikimundial-ws-admin-team-list></dzikimundial-ws-admin-team-list>
        </div>
    </div>
</div>