<nav class="nav-container">
    <div class="logo-container">
        <dzikimundial-ws-ui-logo data-test-id="nav-logo"></dzikimundial-ws-ui-logo>
    </div>
    <div class="menu-container">
        <ul class="menu-list" data-test-id="nav-menu-list">
            <li class="menu-item">
                <dzikimundial-ws-ui-nav-link data-test-id="nav-link-bets" [text]="ROUTER_LINK.BETS"
                    [link]="ROUTER_LINK.BETS">
                </dzikimundial-ws-ui-nav-link>
            </li>
            <li class="menu-item">
                <dzikimundial-ws-ui-nav-link data-test-id="nav-link-scores" [text]="ROUTER_LINK.SCORES"
                    [link]="ROUTER_LINK.SCORES">
                </dzikimundial-ws-ui-nav-link>
            </li>
            <li class="menu-item">
                <dzikimundial-ws-ui-nav-link data-test-id="nav-link-prizes" [text]="ROUTER_LINK.PRIZES"
                    [link]="ROUTER_LINK.PRIZES">
                </dzikimundial-ws-ui-nav-link>
            </li>
            <li class="menu-item">
                <dzikimundial-ws-ui-nav-link data-test-id="nav-link-settings" [text]="ROUTER_LINK.SETTINGS"
                    [link]="ROUTER_LINK.SETTINGS">
                </dzikimundial-ws-ui-nav-link>
            </li>
        </ul>
    </div>
    <div class="user-container">
        hi
    </div>
</nav>