<form [formGroup]="formGroup">
    <div class="container">
        <div class="grid">
            <dzikimundial-ws-ui-input formControlName="name" [label]="'Team'" [id]="'team'" [type]="'text'"
                [placeholder]="'eg. Poland'"></dzikimundial-ws-ui-input>
            <dzikimundial-ws-ui-input formControlName="description" [label]="'Description'" [id]="'description'"
                [type]="'text'" [placeholder]="'eg. lorem ipsum'" [description]="'You can provide more than 1 team'">
            </dzikimundial-ws-ui-input>
        </div>
    </div>
</form>