<ng-container *ngIf="routeParams$ | async"></ng-container>
<div class="container" *ngIf="teamView$ | async as teamView">
    <ng-container *ngIf="updateTeamView$ | async as updateView">
        <div class="dm-sidebar-conatiner">
            <div class="dm-section-header-container">
                <p>Menu</p>
            </div>
            <ul class="menu-list">
                <li class="menu-item">
                    <dzikimundial-ws-ui-nav-link data-test-id="nav-link-single" [text]="ROUTER_LINK.TEAMS"
                        [isSecondary]="true" [isReturnLink]="true" [alignText]="'end'" [link]="'../../'">
                    </dzikimundial-ws-ui-nav-link>
                </li>
            </ul>
        </div>
        <div class="content-container">
            <div class="dm-section-header-container">
                <p>Edit team<ng-container *ngIf="teamView.team">: {{teamView.team.name}}</ng-container>
                </p>
            </div>
            <div class="form-container">
                <dzikimundial-ws-ui-progress-bar *ngIf="teamView.isLoading || updateView.isLoading">
                </dzikimundial-ws-ui-progress-bar>
                <dzikimundial-ws-admin-team-form [isLoadingFormValue]="teamView.isLoading"
                    [isLoading]="updateView.isLoading" [isDisabled]="updateView.isLoading" [isEditMode]="true"
                    (submitResult)="handleSubmitResult($event)" [team]="teamView.team">
                </dzikimundial-ws-admin-team-form>
            </div>
        </div>
    </ng-container>
</div>